
/*задний фон*/
body {
    width: 100%;
    min-width:960px;
    background-color: #A5BEFF; 
   
}

/*логотип*/
img {

    position: absolute;
    width: 550px;
    height: 200px;
    left: 120px;
    top: 10px;
}

/*Заголовок сайта*/
h1 {
        
    position: absolute;
    width: 650px;
    height: 10px;
    left: 138px;
    top: 380px;

    font-family: 'Glegoo';
    /*font-family: 'Montserrat', sans-serif;*/
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100px;
    display: flex;
    align-items: center;

    color: #2F1245;
}

/*линия*/
.line{

    position: absolute;
    width: 580px;
    height: 0px;
    left: 138px;
    top: 470px;
    
    border: 1px solid #713939;
    transform: matrix(1, 0, 0, 1, 0, 0); 
}

/*фоновая картинка робота*/
.robot{

    position: absolute;
    width: 1015px;
    height: 800px;
    left: 500px;
    top: -2px;
    filter: contrast(1.3);/*drop-shadow()*/
}


/*Местоположение (иконка)*/
.location1{

    position: absolute;
    width: 40px;
    height: 40px;
    left: 810px;
    top: 25px;

}

/*Адрес*/
h2{

    position: absolute;
    width: 661px;
    height: 54.72px;
    left: 850px;
    top: 1px;

    font-family: 'Glegoo';
    font-style:bold;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    display: flex;
    align-items: center;

    color: #18082D;
}

/* Телефон (иконка)*/
.phone1{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 1130px;
    top: 90px;

}

/*Номер телефона*/
h3{

    position: absolute;
    width: 200px;
    height: 54.72px;
    left: 1170px;
    top: 50px;

    font-family: 'Glegoo';
    font-style:bold;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    display: flex;
    align-items: center;

    color: #18082D;
}

/* Почта (иконка)*/
.mail1{

    position: absolute;
    width: 40px;
    height: 40px;
    left: 1150px;
    top: 137px;

}

/*Адрес почты*/
h4{

    position: absolute;
    width: 100px;
    height: 54.72px;
    left: 1200px;
    top: 90px;

    font-family: 'Glegoo';
    font-style:bold;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    display: flex;
    align-items: center;

    color: #18082D;
}

.menu{

    position: absolute;
    width: 500px;
    height: 10px;
    left: 138px;
    top: 280px;
    align-items: center;
	display: table;
    

}

.right{

    position: absolute;
    width: 550px;
    height: 10px;
    left: 720px;
    top: -1px;
	display: table;

}

.menu ul{

    list-style-type: none; /*убираем маркеры списка*/
    display: table-row; 

}

.menu li {
	display: table-cell;
	position: relative;
    margin-right:25px;

}

.menu li a{

    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-family: 'Glegoo';
    font-size: 28px;
    font-weight: bolder;
    color: #2F1245;
    display: block;
	padding: 5px 5px;
	text-align: left;
    width: max-content;

}

.menu-caret:after {
    position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 10px solid;
	border-right: 10px solid transparent;
	border-bottom: 0;
	border-left: 10px solid transparent;
}

/*установка цвета при наведение на один из пунктов меню*/
.menu ul li:hover, .menu a:hover {
	background: rgb(190, 230, 248);
}

.menu li:hover ul  {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	background: rgb(190, 230, 248);
	margin: 0;
	padding: 1px 1px;
    width: max-content;
	z-index: 1;
}

.menu ul ul  {
	display: none;
}

.menu ul ul li  {
	display: block;
	background: rgb(190, 230, 248);
}

.menu ul ul li a  {
	display: block;
	padding: 0;/*расстояние между пунктами выпадающего меню*/
	background: rgb(190, 230, 248);
	text-align: left;
}

.Software_engineering
{
    position: absolute;

}
/*Картинка*/
.Prog_in {

    width: 330px;
    height: 300px;
    left: 170px;
    top: 900px;
}
/*Напрвления*/
.Directions{

    width: 800px;
    height: 300px;
    left: 578px;
    top: 885px;

}

/*https://html5book.ru/mnogourovnevoe-vypadayushee-menu/*/