
/*задний фон*/
body {
    width: 100%;
    min-width:960px;
    background-color: #A5BEFF; 
   
}

/*логотип*/
img {

    position: absolute;
    width: 550px;
    height: 200px;
    left: 120px;
    top: 10px;
}

/*Заголовок сайта*/
h1 {
        
    position: absolute;
    width: 650px;
    height: 10px;
    left: 138px;
    top: 380px;

    font-family: 'Glegoo';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100px;
    display: flex;
    align-items: center;

    color: #2F1245;
}

/*линия*/
.line{

    position: absolute;
    width: 580px;
    height: 0px;
    left: 138px;
    top: 470px;
    
    border: 1px solid #713939;
    transform: matrix(1, 0, 0, 1, 0, 0); 
}

/*фоновая картинка робота*/
.robot{

    position: absolute;
    width: 1015px;
    height: 800px;
    left: 500px;
    top: -2px;
    mix-blend-mode: color-burn;
}


/*Местоположение (иконка)*/
.location1{

    position: absolute;
    width: 40px;
    height: 40px;
    left: 810px;
    top: 25px;

}

/*Адрес*/
h2{

    position: absolute;
    width: 661px;
    height: 54.72px;
    left: 850px;
    top: 1px;

    font-family: 'Glegoo';
    font-style:bold;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    display: flex;
    align-items: center;

    color: #18082D;
}

/* Телефон (иконка)*/
.phone1{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 1130px;
    top: 90px;

}

/*Номер телефона*/
h3{

    position: absolute;
    width: 200px;
    height: 54.72px;
    left: 1170px;
    top: 50px;

    font-family: 'Glegoo';
    font-style:bold;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    display: flex;
    align-items: center;

    color: #18082D;
}

/* Почта (иконка)*/
.mail1{

    position: absolute;
    width: 40px;
    height: 40px;
    left: 1150px;
    top: 137px;

}

/*Адрес почты*/
h4{

    position: absolute;
    width: 100px;
    height: 54.72px;
    left: 1200px;
    top: 90px;

    font-family: 'Glegoo';
    font-style:bold;
    font-weight: 400;
    font-size: 28px;
    line-height: 57px;
    display: flex;
    align-items: center;

    color: #18082D;
}

.menu{

    position: absolute;
    width: 500px;
    height: 10px;
    left: 138px;
    top: 280px;
    align-items: center;
	display: table;
    

}

.right{

    position: absolute;
    width: 550px;
    height: 10px;
    left: 715px;
    top: -1px;
	display: table;

}

.menu ul{

    list-style-type: none; /*убираем маркеры списка*/
    display: table-row; 

}

.menu li {
	display: table-cell;
	position: relative;
    margin-right:25px;

}

.menu li a{

    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-family: 'Glegoo';
    font-size: 28px;
    font-weight: bolder;
    color: #2F1245;
    display: block;
	padding: 5px 5px;
	text-align: left;
    width: max-content;

}

.menu-caret:after {
    position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 10px solid;
	border-right: 10px solid transparent;
	border-bottom: 0;
	border-left: 10px solid transparent;
}

/*установка цвета при наведение на один из пунктов меню*/
.menu ul li:hover, .menu a:hover {
	background: rgb(190, 230, 248);
}

.menu li:hover ul  {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	background: rgb(190, 230, 248);
	margin: 0;
	padding: 1px 1px;
    width: max-content;
	z-index: 1;
}

.menu ul ul  {
	display: none;
}

.menu ul ul li  {
	display: block;
	background: rgb(190, 230, 248);
}

.menu ul ul li a  {
	display: block;
	padding: 0;/*расстояние между пунктами выпадающего меню*/
	background: rgb(190, 230, 248);
	text-align: left;
}

.Software_engineering
{
    position: absolute;

}
/*Картинка*/
.Prog_in {

    width: 330px;
    height: 300px;
    left: 170px;
    top: 900px;
}
/*Напрвления*/
.Directions{

    width: 800px;
    height: 300px;
    left: 578px;
    top: 885px;

}
   
    .DierctSoftEng1{

        position: absolute;
        left: 180px;
        top: 1250px;

    }

    
    .DierctSoftEng2{

        position: absolute;
        left: 180px;
        top: 1400px;

    }
      
    table {

        font-family: 'Glegoo';
        font-style:normal;
        font-size: 20px;
        width: 1240px;
        text-transform:uppercase;/*текст из заглавных букв*/
        border-collapse: collapse;
        text-align: left;

    }

    th {

        font-weight: normal;
    }
    td {

        vertical-align: top; /* Выравнивание по верхнему краю ячейки */
        transition: .3s linear;
        width:300px;
        line-height: 30px;

    }
    
/*Бакалавриат*/
.bakalavr {

    position: absolute;
    top: 1670px;
    left: 240px;
}
/*картинка правый верхний угол*/
.cpu{

    top:10px;
    width: 450px;
    height: 450px;
    left:-10px;
    mix-blend-mode: color-dodge;
}
/*картинка левый нижний угол*/
.analytics{

    top:300px;
    width: 450px;
    height: 450px;
    left:800px;
    mix-blend-mode: color-dodge;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bak{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/
}

.an{

    position: absolute;
    font-family: 'Glegoo';
    font-size: 19px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#fff;
    top:40px;
    left:-80px;
    width:1240px;
    line-height: 30px;
}

/*Предметы для поступления*/
.subjects{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 19px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:140px;
    left:-85px;
    width:1240px;
    line-height: 35px;
}

.sub{
    font-weight: normal;
    line-height: 15px;
}

.prof{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 19px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#fff;
    top:325px;
    left:-85px;
    line-height: 50px;
}

.profession{

    font-weight: normal;
    line-height: 40px;
    width:450px;
}

.key_disciplines{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 19px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:130px;
    left:500px;
    line-height: 50px;
}

.disciplines{

    font-weight: normal;
    line-height: 40px;
    width:600px;

}




/*Магистратура1*/
.mag1 {

    position: absolute;
    top: 2510px;
    left: 240px;
}

.mag1_name{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/
}

.m1{

    position: absolute;
    font-family: 'Glegoo';
    font-size: 19px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:40px;
    left:-85px;
    width:1240px;
    line-height: 30px;
}


/*картинка в которую вставлен текст()*/
.program{

    top:110px;
    width: 525px;
    height: 525px;
    left:-80px;
    mix-blend-mode: color-dodge;
}
/*Текст в картинке "программа подготовки"*/
.prog_prepare{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 20px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:260px;
    left: -20px;
    line-height: 20px;
}

.prepare{

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    width:400px;
}

.prof_mag1{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 20px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#f8faff;
    top:650px;
    left: -20px;
    line-height: 30px;

}

.prof_mag1_n{

    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    width:500px;
}

.disc_mag1{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 20px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#f8faff;
    top:150px;
    left:550px;

}

.disc{

    font-weight: normal;
    font-size: 16px;
    width:650px;

}

.what_know{

    line-height: 70px;
    color:#000;
}

.knowl_mag1{

    font-weight: normal;
    font-size: 16px;
    width:600px;
    color:#000;
    line-height: 30px;

}

/*фоновое изображение*/
.servers{

    top:390px;
    width: 450px;
    height: 450px;
    left:800px;
    mix-blend-mode: soft-light;
    filter: alpha(Opacity=25); /* Полупрозрачность для IE */
    opacity: 0.25; /* Полупрозрачность для других браузеров */ 
}



/*Магистратура1*/
.mag2 {

    position: absolute;
    top: 3475px;
    left: 235px;
}

.mag2_name{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/
}

.m2{

    position: absolute;
    font-family: 'Glegoo';
    font-size: 19px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:40px;
    left:-80px;
    width:1240px;
    line-height: 30px;
}

/*фоновая картинка верхний правый угол*/
.chip{

    top:10px;
    width: 450px;
    height: 450px;
    left:-190px;
    mix-blend-mode: screen;
}
/*фоновая картинка нижний левый угол*/
.big-data{

    top:450px;
    width: 450px;
    height: 450px;
    left:800px;
    mix-blend-mode: soft-light;
    filter: alpha(Opacity=25); /* Полупрозрачность для IE */
    opacity: 0.25; /* Полупрозрачность для других браузеров */ 
}

/*программа подготовки магистратуры 2*/
.prog_prep_mag2{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 20px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:120px;
    left: -80px;
    line-height: 20px;

}

.prog_prep_mag2_n{

    font-weight: normal;
    font-size: 16px;
    width:550px;
    line-height: 30px;

}

/*Ключевые дисциплины магистратура 2*/
.disc_mag2{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 20px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:120px;
    left: 550px;
    line-height: 30px;

}

.disc_mag2_n{

    font-weight: normal;
    font-size: 14px;
    width:600px;
    line-height: 10px;

}
/*Чему вы научитесь магистратура2*/
.KNOW_mag2{
    position: absolute;
    top:470px;
    left:-80px;
    color:#fff;
    font-weight: bold;
    line-height: 15px;
}

.k_mag2{

    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    width:400px;

}

/*Возможные профессии магистратура 2*/
.prof_mag2{

    position: absolute;
    font-family: 'Glegoo';
    font-weight: bold;
    font-size: 20px;
    text-transform:uppercase;/*текст из заглавных букв*/
    color:#000;
    top:750px;
    left: -80px;
    line-height: 30px;

}

.proffesions_mag2 {

    font-weight: normal;
    font-size: 16px;
    width:600px;
    line-height: 30px;

}


/*Преподаватели*/
.teachers{

    position: absolute;
    top: 4400px;
    left: 235px;
}

.teach{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/

}
/*Тень на заднем фоне*/
.shadow{

    top:30px;
    width: 1280px;
    height: 700px;
    left:-130px;
    mix-blend-mode: soft-light;
    filter: alpha(Opacity=25); /* Полупрозрачность для IE */
    opacity: 0.25; /* Полупрозрачность для других браузеров */ 

}

/*Список учителей*/
.teachers_list{

    position: absolute;
    top:80px;
    left:-50px;
    color:#000;
    font-weight: bold;

}

b{font-size: 14px;}

.prof_teachers{

    font-weight: normal;
    font-size: 14px;
    width:300px;
    line-height: 30px;
}



/*Студенческая жизнь*/
.students{

    position: absolute;
    top: 5250px;
    left: 235px;

}

.stud_life_name{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/

}

/*Ряд картинок*/













/*Напрвления кафедры*/
.naprav_kaf {

    position: absolute;
    top: 6100px;
    left: -120px;
}

.comp{

    position: absolute;
    width: 1500px;
    height: 800px;
    mix-blend-mode: overlay;
}

.kaf{

    position: absolute;
    font-family: 'Glegoo';
    font-size: 14px;
    text-transform:uppercase;/*текст из заглавных букв*/
    width: 350px;
    left:400px;
    top:136px;
    line-height: 30px;

}

.chek_kaf{

    position: absolute;
    font-family: 'Glegoo';
    font-size: 14px;
    font-weight: bold;
    width: 425px;
    left:630px;
    top:286px;
    line-height: 20px;
    color:rgb(50, 35, 35);

}


/*Партнеры*/
.partners{

    position: absolute;
    top: 7000px;
    left: 235px;

}

.part_name{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/

}


/*Контакты*/
.contacs{

    position: absolute;
    top: 7930px;
    left: 235px;

}

.cont_name{

    font-family: 'Glegoo';
    font-size: 28px;
    text-transform:uppercase;/*текст из заглавных букв*/

}

.info{

    font-family: 'Glegoo';
    font-size: 24px;
    left:200px;

}





/*https://html5book.ru/mnogourovnevoe-vypadayushee-menu/*/

